<div id="wrapper">
    <section class="product-holder">
        <header>
            <h1>{{product}} - {{price}}</h1>
            <a href="/catalog" class="glyphicon glyphicon-remove"></a>
        </header>
        <div class="image-holder">
            <img src="{{imageSrc}}" alt="{{product}}" class="img-responsive">
        </div>
        <div class="description-holder">
            <p>{{description}}</p>
        </div>
    </section>
</div>
